<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>Big Data e Ciência de Dados</title>
    <link rel="shortcut icon" href="../static/images/data-favicon.png" type="image/x-icon">
</head>
<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/images/nav-image-500-500.jpg" alt="Foto Tecnologia" class="imagem-redonda">
            <h1>Trabalho de TIC</h1>
            <div class="social-links">
                <abbr title="Apresentação de slides ">
                    <a href="#" target="_blank" rel="external">
                        <!-- COLOCAR O LINK DA NOSSA APRESENTACAO COMPARTILHADA OU UM LINK PDF -->
                        <i class="bi bi-file-earmark-easel-fill"></i>
                    </a>
                </abbr>
                <abbr title="Curso de Big Data & Analytics">
                    <a href="https://on.fiap.com.br/local/programaeucapacito/" target="_blank" rel="external">
                        <i class="bi bi-book-half"></i>
                    </a>
                </abbr>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio">
                    <i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#bigdata">
                    <i class="bi bi-database"></i> Big Data</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#cienciadedados">
                    <i class="bi bi-bezier2"></i> Ciência de Dados</a>
                </li>
              </ul>                                    
        </nav>
    </aside>

    <main id="main">
        <section class="row m-0 p-0" id="inicio" >
            <div class="col-md-5" id="name-and-apresentation">
                <h2 class="text-white text-shadow nome-main">Big Data e Ciência de Dados</h2>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#bigdata">Arraste para mais</a>
                </div>
            </div>
        </section>

        <div class="respiro">
            <section class="container mt-5" id="bigdata">
                <div class="row w-100">
                    <div class="col-md-12">
                        <h2 class="pt-3" data-anime="down">O que é Big Data?</h2>
                        <p data-anime="left">
                            Big Data pode ser definido como um conjunto de dados maior e mais complexo, eles não tem relação entre si e nem uma estrutura definida.
                            É uma grande quantidade de dados dífices de serem processados e com uma variedade enorme,
                            esses conjuntos são tão volumosos que apenas um software não é capaz de gerencia-los.
                        </p>
                        <p data-anime="left">
                            Um profissional de TI busca propor soluções e análises específicas para esses dados que são diversos e não estruturados, que chegam com grande velocidade
                            com o objetivo de aumentar a produtividade e consequentemente reduzindo os custos para as empresas.
                            <!-- É a analise e a interpretação de dados diversos não estruturados, são dados que chegam a uma grande velocidade
                            e um profissional de TI busca propor soluções específicas para isso, a fim de aumentar a produtividade e reduzir custo utilizando esses dados. -->
                        </p>
                    </div>
                </div>
                <h3 class="mb-4 mt-4" data-anime="down">Os cinco V's do Big Data</h3>
                    <ul class="list-group list-group-flush fs-6">
                        <li class="list-group-item mb-3" data-anime="up">
                            <h5>Volume</h5>
                            <p>
                                Pense em todos os dados que cirulam em e-mails, Instagram, Twitter, em fotos e vídeos compartilhados na internet a todo segundo. 
                                Não é questão de apenas terabytes mas sim zetabytes. Todos os dias circulam bilhões de dados desse tipo, 
                                A tecnologia do Big Data serve exatamente para lidar com esse volume extremo de dados, guardando-os em diferentes locais e juntando-os através de um software.
                            </p>
                        </li>
                        <li class="list-group-item mb-3" data-anime="up">
                            <h5>Velocidade</h5>
                            <p>
                                Se diz a respeito à velocidade com que os dados são criados. Mensagens no WhatsApp a todo instante, curtidas em redes sociais, transações bancárias sendo validadas, 
                                cálculos sobre gráficos de compra e venda de cryptomoedas. 
                                O Big Data serve para analisar os dados no instante em que eles são criados, sem precisar de um armazenamento em um banco de dados relacional por exemplo.
                            </p>
                        </li>
                        <li class="list-group-item mb-3" data-anime="up">
                            <h5>Variedade</h5>
                            <p>
                                Com o Big Data, mensagens, fotos, vídeos e sons, que são dados não-estruturados possuem diversas origens e que podem ser administrados juntamente com dados tradicionais que possuem relação entre si.
                                A complexidade está em receber dados de lugares variados, em formatos muitas vezes distintos e então extratir informações valiosas em cima disto.
                            </p>
                        </li>
                        <li class="list-group-item mb-3" data-anime="up">
                            <h5>Veracidade</h5>
                            <p>
                                É fato de que uma informação só é valiosa se for verdadeira, com o Big Data não é possível controlar cada fake news na internet, ou um dado duvidoso, mas com as análises estatísticas de grandes volumes de dados é possível avaliar informações incorretas.
                            </p>
                        </li>
                        <li class="list-group-item mb-3" data-anime="up">
                            <h5 data-anime="left">Valor</h5>
                            <p>
                                Entende-se por transformar um verdadeiro tsunami de dados em informações relevantes que efetivamente podem ser utilizadas nos negócios para 
                                gerenciar ou prever riscos, identificar oportunidades e guiar um setor de marketing para tomar decisões mais precisas por exemplo.
                            </p>
                        </li>
                    </ul>
            </section>

            <section  class="mt-5 section-bg" id="cienciadedados">
                <div class="container pb-5">
                    <h2 class="pt-5" data-anime="left">O que é Ciência de Dados?</h2>
                    <p data-anime="up">Para falarmos em ciência de dados, precisamos dar um passo atrás e falar da importância dos dados, nos ultimos anos o crescimento da quantidade de dados gerados em todo o mundo foi bastante nítido, que daí vem o termo Big Data como explicamos no tópico acima.</p>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center" data-anime="up">Quantidade de dados produzidos todos os dias de acordo com a IDC</p>
                            <div class="progress">
                                <div class="progress-bar amount-data" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-anime="left">2 500 000 000 000 000 000 bytes</div>
                          </div>
                        </div>
                    </div>
                    <hr class="w-50 me-auto ms-auto mt-5">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="mt-3 mb-0" data-anime="down"> Basicamente, tudo o que fazemos no nosso dia a dia gera dados de alguma maneira, mas precisamos ter em mente que apenas os dados sozinhos não nos dizem nada. É ai que entra a Ciência de Dados, em suma, a ciência de dados é a arte de obter conhecimento utilizando dados brutos, que serão tratados e possivelmente transformados em informação que será interpretada por alguém.</p>
                            <p class="mt-3 mb-0 text-center" data-anime="down">Para isso, se faz necessário a utilização de:</p>
                            <div class="container d-flex justify-content-center align-items-center">
                                <ul class="list-group ul-lista-dc col-md-12">
                                    <div class="container text-center lista-ds mt-3">
                                        <div class="row row-cols-1 arredondar-lista-itens">
                                            <li class="list-group-item col ds-filho" data-anime="left">Métodos Científicos</li>
                                            <li class="list-group-item col ds-filho" data-anime="left">Machine Learning</li>
                                            <li class="list-group-item col ds-filho" data-anime="left">Inteligência Artificial</li>
                                            <li class="list-group-item col ds-filho" data-anime="left">Matemática</li>
                                            <li class="list-group-item col ds-filho" data-anime="left">Estatística</li>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                            <p class="mt-4 mb-4" data-anime="up">
                                A Ciência de Dados é utilizada para resolver problemas que se encontram na vida real e no dia a dia de empresas por exemplo, trazendo a tona um conhecimento estratégico e insigths interessantes para o negócio. Esses insights poderão ser usados para o processo de tomada de decisão da empresa, consequentemente otimizando estratégias de negócio que irão gerar lucro para a empresa em questão. Pode ser usada principalmente para prever mudanças no mercado, fazendo com que a empresa reaja de maneira ideal a diferentes circunstâncias.
                            </p>
                            <div class="business-foto-dc">  
                            </div>
                            <p class="mt-4" data-anime="up">
                                A Netflix por exemplo, utiliza dados de usuário para entender os seus padrões e comportamentos que se resumem em o que ele mais gosta de assistir e acessar enquanto aproveita o serviço de streaming, assim, os usuários ajudam a Netflix a entender os interesses de seus clientes e entender quais filmes devem produzir e também o que recomendar para o seu público. Os dados permitem que as organizações entendam melhor os seus clientes e consumidores, podendo aprimorar cada vez mais seus serviços e os seus processos.
                            </p>
                            <p class="mt-4" data-anime="up">
                                Fazendo a utilização correta da Ciência de Dados é possível descobrir novos padrões, permitindo que as empresas desfrutem de novas técnicas e relacionamentos, podendo revelar qual produto possui uma margem de lucro maior, qual custo é necessário reduzir para um maior lucro da empresa, qual seria o melhor gerenciamento para a elaboração de algum produto por exemplo. 
                            </p>
                            <hr class="w-50 me-auto ms-auto mt-5">
                            <h3 class="mb-4 mt-4" data-anime="left">Para que serve a Ciência de Dados</h3>
                            <p class="mb-4" data-anime="left">Dentre as maneiras que podem-se estudar os dados estão listadas as quatro principais:</p>

                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item" data-anime="down">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                      1 - Análise descritiva
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <p>Se diz a análise dos dados com o objetivo da obtenção de insights sobre o que aconteceu ou o que está acontecendo referente aos dados. Utiliza diversos elementos de visualização de dados como os gráficos de barras, gráficos de pizza, de quadrantes, tabelas e entre outros.</p>
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion-item" data-anime="down">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                      2 - Análise diagnóstica
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        <p>Aqui se busca entender mais profundamente e de modo mais detalhado o que aconteceu e por que algo aconteceu. Entre suas características estão as técnicas como mineração de dados, <em>drill-down</em> (é uma função que permite ver dados e informações com maior nível de detalhes), descoberta de dados e correlações.</p>
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion-item" data-anime="down">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                      3 - Análise preditiva
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                    <div class="accordion-body">
                                        <p>Usa os dados para fazer as previsões mais precisas de padrões que poderão ocorrer no futuro, aqui se faz o uso de técnicas de Inteligência Artificial como o Machine Learning, modelagem preditiva e correspondência de padrões. Uma empresa aplicando isso poderá fazer propagandas direcionadas de acordo essa previsão para um próximo ano por exemplo.</p>
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion-item" data-anime="down">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                        4 - Análise prescritiva
                                      </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                                        <div class="accordion-body">
                                            <p>Se já não bastasse apenas uma previsão de acordo com a análise desses dados, nesta etapa sugere também uma resposta ideal para esse resultado. Analisando potenciais problemas ou soluções para diferentes escolhas, assim, recomendando o melhor plano a ser seguido pela empresa. Como ferramenta usa-se análise de gráficos, simulações, algoritmos e redes neurais.</p>
                                        </div>
                                    </div>
                                  </div>     
                              </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                <strong>Projeto realizado para o seminário criativo de TIC - Gestão da Informação UFPR</strong>
            </div>
        </div>

    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>